.Topbar-Container{
    height: 50px;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;

}
.searchInput{
    border: none;
    outline: none;
    margin-left: 10px;
}
.topbar-left{
    flex: 3;
}
.topbar-center{
    flex: 5;
}
.topbar-right{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topbar-icons{
    display: flex;
}
.topbar-icons-item{
    margin-left: 10px;
}
.topbar-Img{
    height: 35px;
    width: 35px;
}