.Topbar-Container{
    height: 50px;
    width: 100%;
    background-color: #ff7700;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;

}
.searchInput{
    border: none;
    width: 70%;
    margin-left: 10px;
}
.searchInput:focus{
    outline: none;
}
.topbar-left{
    flex: 3;
}
.topbar-center{
    flex: 5;
}
.topbar-right{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topbar-links{
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.topbar-icons{
    display: flex;
    color: white;
}
.topbar-icons-item{
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.topbar-icon-badge{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
}
.topbar-Img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}