.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
}

.sidebar-wrapper{
    padding: 20px;
    background-color: #ffffff;
}
.sidebar-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-list-items{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-Icons{
    margin-right: 15px;
    color: orange;
}
.sidebar-button{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
}
.sidebar-horizontal{
    margin: 20px 0;
    padding: 1px;
    background-color: dodgerblue;
    border: none;
}
.sidebar-friends{
    padding: 0;
    margin: 0;
    list-style: none;
}
